<div class='row'>
	<div class='col-6'>
		<div class='card'>
			<div class='card-body'>
				<h5 class='card-title'>INGRESO DE REPUESTOS</h5>
				<a href='admin/formRepuestos' class='btn btn-primary'>Go somewhere</a>
			</div>
		</div>
	</div>
	<div class='col-6'>
		<div class='card'>
			<div class='card-body'>
				<h5 class='card-title'>INGRESO DE MECÁNICOS</h5>
				<a href='admin/formMecanicos' class='btn btn-primary'>Go somewhere</a>
			</div>
		</div>
	</div>
</div>